:root {
    --patua: 'Patua One', cursive;
    --roboto: 'Roboto', sans-serif;
    --red: #AE2934;
}

/* -------------HEADER------------- */


.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: calc(100vw - 50px);
    padding: 36px 0;
}

.navbar {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    width: 60%;
    list-style: none;
}


.navbar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--roboto);
    font-size: 15px;
    cursor: pointer;
    font-style: normal;
    transform: scale(1);
    transition: all .5s;
}

.navbar-item span {
    padding: 5px 0;
}

.navbar-item:hover {
    font-size: 20px;
    font-weight: bold;
    color: var(--red);

}

.active {
    font-size: 20px;
    font-weight: bold;
    color: var(--red);

}


.titre {
    font-family: var(--patua);
    font-size: 40px;
    cursor: default;
}

.text-color {
    color: var(--red);
}

ul li a:before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 20px;
    background: var(--red);
    background-color: var(--red);
    transform: scale(0);
    transform-origin: left;
    transition: all .5s;
}

ul li a:hover:before {
    transform: scale(1);
}

.active:before {
    transform: scale(1);
}


/* -------------FOOTER------------- */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100vw - 150px);
    padding-bottom: 40px;
}


/* -------------SOCIAL ON FOOTER------------- */

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px;
    gap: 10px;
    width: 35px;
    height: 35px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset -2px -2px 5px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    border-radius: 160.5px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.media {
    width: 80%;
    height: 80%;
}

.copyright p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    cursor: default;
}